<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Reset Math Center Fellows</h1>
  <form action="/POST">
    <label for="math-center-file">Input File</label>
    <input id="math-center-file" type="file">
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>